@import "../../app/assets/styles";

.span {
  color: $dark-secondary;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.pageDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
