@import "../../../../app/assets/styles";

.wrapper {
  display: flex;
  margin-bottom: 16px;
  padding-bottom: 6px;
  box-shadow: 0 1px 0 0 $dark-elements;
  gap: 8px;
}

.price {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.discount {
  color: $dark-secondary;
  font-weight: 500;
  text-decoration-line: line-through;
}
