@import "../../../app/assets/styles";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  padding: 0;
  color: $dark-primary;
  background: transparent;
  border: 1px solid $dark-placeholders;
  transition: border 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    border-color: $dark-primary;
  }

  &:disabled {
    cursor: auto;
    pointer-events: none;
    fill: $dark-placeholders;
    color: $dark-elements;
    border-color: $dark-elements;
  }
}

.isSelected {
  color: $white;
  background: $dark-primary;
  border: none;
}
