@import "../../app/assets/styles";

.icon {
  height: 16px;
  width: 16px;
}

.text {
  display: flex;
  gap: 4px;
  justify-content: center;
  color: $dark-secondary;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $dark-primary;
  }
}
