@import "../../app/assets/styles";

.btnsWrapper {
  display: flex;
  gap: 5px;
  justify-content: center;

  @include md-device {
    gap: 16px;
  }
  @media (min-width: 425px) {
    gap: 10px;
  }
}

.icon {
  width: 16px;
  height: 16px;
}

.paginationBtn {
  min-width: 30px;
  height: 30px;

  @media (min-width: 425px) {
    min-width: 35px;
    height: 35px;
  }

  @media (min-width: 590px) {
    min-width: 40px;
    height: 40px;
  }
}
