@import "../../app/assets/styles/index";

.input {
  background: none;
  border: none;
  color: $dark-primary;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  font-style: normal;
  display: flex;
  width: 100%;
  text-overflow: ellipsis;

  &::placeholder {
    font-size: 10px;
    color: $dark-placeholders;

    @include md-device {
      font-size: 14px;
    }
  }
}
