@import "../../app/assets/styles";

.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border: 1px solid $dark-elements;
  transition: all 0.3s ease-in-out;
  flex-direction: column;

  @include md-device() {
    flex-direction: row;
    padding: 24px;
  }

  @include lg-device {
    max-width: 752px;
    width: 100%;
  }
}

.leftSideWrapper {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $dark-elements;
  padding-bottom: 10px;

  @include md-device() {
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
    border-bottom: none;
    padding-bottom: 0;
  }
}

.rightSideWrapper {
  display: flex;
  gap: 23px;
  justify-content: space-between;
  padding-top: 10px;

  @include md-device() {
    padding-top: 0;
    gap: 43px;
  }
}

.buttonClose {
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $dark-primary;
  }
}

.icon {
  color: $dark-elements;
  height: 16px;
  width: 16px;
}

.image {
  display: inline-block;
  width: 80px;
  height: 80px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.productWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;

  @include md-device() {
    gap: 24px;
  }
}

.title {
  display: inline-block;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0;
  text-align: left;

  &:hover {
    text-decoration: underline;
  }
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  display: flex;
  align-items: center;
}

.quantity {
  width: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
}

.deleting {
  animation: all 2s ease-in-out forwards;
  @keyframes all {
    from {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    to {
      opacity: 0;
    }
  }
}
